@{
    ViewData["Title"] = "Registration";
}

<h2>Register</h2>

<form method="post">
    <label for="FirstName">First Name:</label>
    <input type="text" id="FirstName" name="FirstName" required><br>

    <label for="LastName">Last Name:</label>
    <input type="text" id="LastName" name="LastName" required><br>

    <label for="Email">Email:</label>
    <input type="email" id="Email" name="Email" required><br>

    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" required><br>

    <input type="submit" value="Register">
</form>